---
import Layout from '../layouts/Layout.astro';
import Animation from '../components/Animation.astro';
import Socials from '../components/Socials.astro';
import Contact from '../components/Contact.astro';
import Title from '../components/Title.astro';
import HaikuDesktop from '../components/haiku/haiku-desktop.svg';
import Button from '../components/Button.astro';
import { YOU_TUBE } from '../utils/constants';
---

<Layout title="DJ Du Vide">
	<main>
		<div class="container">
			<div class="main-section">
				<div class="title-section">
					<Title />
				</div>
				<Animation />
				<img id="haiku-desktop" class="fade-in" src={HaikuDesktop} />
			</div>
			<div class="social-section">
				<Socials />
			</div>
			<div class="contact-section">
				<Contact />
			</div>
			<div class="button-container fade-in">
				<Button text="Watch Now" href={YOU_TUBE} />
			</div>
		</div>
	</main>
</Layout>

<style lang="scss">
	.container {
		height: 100vh;

		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		.main-section {
			width: 80%;
			height: 80%;
			position: relative;
			display: flex;
			align-items: center;
			margin-bottom: 2rem;

			.title-section {
				position: absolute;
				top: 0;
				right: 0;
			}

			#haiku-desktop {
				width: 25%;
				position: absolute;
				bottom: 50%;
				left: -3rem;
			}
		}

		.social-section {
			position: absolute;
			bottom: 2rem;
			right: 2rem;
		}

		.contact-section {
			position: absolute;
			bottom: 1rem;
			left: 2rem;
		}

		.button-container {
			position: absolute;
			bottom: 3.5rem;
			left: calc(50% - 75px);
		}
	}
</style>
