---
import Layout from '../layouts/Layout.astro';
import Animation from '../components/Animation.astro';
import Socials from '../components/Socials.astro';
import Contact from '../components/Contact.astro';
import Title from '../components/Title.astro';
---

<Layout title="DJ DuVide">
	<main>
		<div class="container">
			<Animation />
			<div class="social-section">
				<Socials />
			</div>
			<div class="contact-section">
				<Contact />
			</div>
		</div>
	</main>
</Layout>

<style lang="scss">
	.container {
		height: 100vh;

		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		.social-section {
			position: absolute;
			bottom: 2rem;
			right: 2rem;
		}

		.contact-section {
			position: absolute;
			bottom: 1rem;
			left: 2rem;
		}
	}
</style>
