---
import Layout from '../layouts/Layout.astro';
import Animation from '../components/Animation.astro';
---

<Layout title="DJ DuVide">
	<main>
		<div class="container">
			<Animation />
		</div>
	</main>
</Layout>

<style lang="scss">
	.container {
		height: 100vh;

		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
</style>
