---
import Layout from '../layouts/Layout.astro';
import Animation from '../components/Animation.astro';
---

<Layout title="DJ DuVide">
	<h1>It's DuVide bitch</h1>

	<Animation />
</Layout>

<style lang="scss">
	@import '../styles/main.scss';
</style>
