---
import Layout from '../layouts/Layout.astro';
import Animation from '../components/Animation.astro';
import Socials from '../components/Socials.astro';
import Contact from '../components/Contact.astro';
import Title from '../components/Title.astro';
import HaikuDesktop from '../components/haiku/haiku-desktop.svg';
import Button from '../components/Button.astro';
import { YOU_TUBE } from '../utils/constants';
---

<Layout title="DJ Du Vide">
	<main>
		<div class="container">
			<div class="main-section">
				<div class="main-section__title fade-in">
					<Title />
				</div>
				<div class="animation-section">
					<Animation />
				</div>
				<img id="haiku-desktop" class="fade-in" src={HaikuDesktop} />
			</div>
			<div class="social-section fade-in">
				<Socials />
			</div>
			<div class="contact-section fade-in">
				<Contact />
			</div>
			<div class="button-container fade-in">
				<Button text="Watch Now" href={YOU_TUBE} />
			</div>
		</div>
	</main>
</Layout>

<style lang="scss">
	@import '../styles/main';
	.container {
		height: 100vh;

		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		@include md-screen {
			flex-direction: column;
			justify-content: space-around;
			padding: 3% 0;
			padding-bottom: 6rem;
		}

		.main-section {
			width: 80%;
			height: 80%;
			position: relative;
			display: flex;
			align-items: center;
			margin-bottom: 2rem;

			@include md-screen {
				flex-direction: column;
				width: 100%;
				height: 45%;
				margin-bottom: 0;
			}

			.animation-section {
				width: 100%;
				height: 100%;
				position: relative;

				@include md-screen {
					top: -8%;
				}

				@include sm-screen {
					top: -15%;
				}

				@include xs-screen {
					top: -6%;
					height: 60%;
				}

				@include xxs-screen {
					top: -5%;
				}
			}

			&__title {
				position: absolute;
				top: 0;
				right: 0;

				@include md-screen {
					position: initial;
				}
			}

			#haiku-desktop {
				width: 25%;
				position: absolute;
				bottom: 50%;
				left: -3rem;

				@include md-screen {
					display: none;
				}
			}
		}

		.social-section {
			position: absolute;
			bottom: 2rem;
			right: 2rem;
			order: 3;
			max-width: 100%;

			@include md-screen {
				position: initial;
				justify-self: flex-end;
			}
		}

		.contact-section {
			order: 2;
			position: absolute;
			bottom: 1rem;
			left: 2rem;

			@include md-screen {
				position: initial;
				text-align: center;
			}
		}

		.button-container {
			position: absolute;
			bottom: 3.5rem;
			left: calc(50% - 75px);
			order: 1;

			@include md-screen {
				position: initial;
			}
		}
	}
</style>
