---
import {
	DISPLAY_NUMBER,
	PHONE_NUMBER,
	EMAIL_ADDRESS,
} from '../utils/constants';
---

<div class="container">
	<p>enquiries and bookings:</p>
	<a href=`tel:${PHONE_NUMBER}`><p>{DISPLAY_NUMBER}</p></a>
	<a href=`mailto:${EMAIL_ADDRESS}`><p>{EMAIL_ADDRESS}</p></a>
</div>

<style lang="scss">
	@import '../styles/main';

	.container {
		a {
			text-decoration: none;
			color: $white;

			&:hover {
				color: $grey2;
			}
		}
	}
</style>
