<div class="container fade-in">
	<p>enquiries and bookings:</p>
	<a href="tel:+447879903071"><p>+447879 903 071</p></a>
	<a href="mailto:dj.du.vide@icloud.com"><p>dj.du.vide@icloud.com</p></a>
</div>

<style lang="scss">
	@import '../styles/main';

	.container {
		a {
			text-decoration: none;
			color: $white;

			&:hover {
				color: $grey2;
			}
		}
	}
</style>
