---
const poem =
	'Music, the language of the soul, which words can never teach: a miracle of sound, that gives the unutterable to speech.';
---

<div class="marquee">
	<p class="marquee__content">
		{poem}
	</p>
	<p class="marquee__content" aria-hidden="true">
		{poem}
	</p>
</div>

<style lang="scss">
	.marquee {
		--gap: 2rem;
		position: relative;
		display: flex;
		overflow: hidden;
		user-select: none;
		gap: var(--gap);
		max-width: fit-content;
	}

	.marquee__content {
		font-style: italic;
		flex-shrink: 0;
		display: flex;
		justify-content: space-around;
		gap: var(--gap);
		min-width: 100%;
		animation: scroll 20s linear infinite;
	}

	@keyframes scroll {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(calc(-100% - var(--gap)));
		}
	}
</style>
