---
import { Icon } from 'astro-icon';
import { EMAIL_ADDRESS, YOU_TUBE } from '../utils/constants';

const socials = [
	{
		name: 'Mixcloud',
		href: `https://www.mixcloud.com/djduvide/`,
		id: 'mixcloud-icon',
	},
	{ name: 'Instagram', href: 'http://instagram.com/djduvide' },
	{ name: 'WhatsApp', href: 'https://wa.link/wnxrz3' },
	{ name: 'Mail', href: `mailto:${EMAIL_ADDRESS}` },
	{
		name: 'YouTube',
		href: YOU_TUBE,
	},
	{
		name: 'Spotify',
		href: 'https://open.spotify.com/user/moleador?si=bb401d06f0f84e28',
	},
];
---

<div class="social__container fade-in">
	{
		socials.map(({ name, href }) => (
			<a href={href} class="social__link" target="_blank">
				<Icon class="social__icon" name={name} />
			</a>
		))
	}
</div>

<style lang="scss">
	@import '../styles/main';
	.social {
		&__container {
			display: flex;
			gap: 1rem;
			height: 30px;
		}

		&__link {
			&:hover {
				transform: translateY(-0.35rem);
			}
		}
	}

	svg {
		height: 30px;
		fill: $white;
	}
</style>
